@import "../../scss/breakpoints";
@import "../../scss/mixins/list-reset";

.nav {
  $block-name: &; // #{$block-name}__element

  display: none;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $screen-t) {
    display: flex;
  }

  &__list {
    @include list-reset();

    display: flex;
    flex-wrap: wrap;
    gap: 2rem 3.8rem;
    align-items: center;

    li {
      &::before {
        display: none;
      }

      &:last-child {
        @media screen and (min-width: $screen-t) {
          width: 100%;
        }

        @media screen and (min-width: $screen-1060) {
          width: auto;
        }
      }

      a {
        color: var(--color-text-secondary);
        font-size: 1.8rem;
        line-height: 1.4;
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
          color: var(--color-text-secondary-hover);
        }
      }
    }
  }
}
