@import "../../scss/breakpoints";

.hero {
  $block-name: &; // #{$block-name}__element

  position: relative;
  min-height: 45.8rem;
  padding-top: 3.3rem;

  @media screen and (min-width: $screen-t) {
    min-height: 57.2rem;
  }

  @media screen and (min-width: $screen-d) {
    min-height: 66rem;
  }

  .button {
    &--link {
      margin-top: 2rem;
      color: var(--color-text-secondary);

      @media screen and (min-width: $screen-t) {
        margin-top: 4rem;
      }

      &:hover {
        color: var(--color-text-secondary-hover);
      }
    }
  }

  &__blob {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;

    @media screen and (min-width: $screen-t) {
      display: block;
    }

    @media screen and (min-width: $screen-d) {
      right: unset;
      left: 72%;
    }

    path {
      transition: fill 0.3s ease;
    }
  }

  &__blob-switcher {
    position: absolute;
    inset: 0;
    display: none;
    overflow: hidden;

    @media screen and (min-width: $screen-t) {
      display: block;
    }

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-100%, 100%);

      &:first-child {
        transform: scale(15, 15);
        transform-origin: 0 100%;
      }

      &:nth-child(2) {
        z-index: 1;
        transform: translate(0);
      }
    }
  }

  &__container {
    position: relative;
    z-index: 3;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;

    @media screen and (min-width: $screen-1060) {
      flex-direction: row;
      margin-top: 5.8rem;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 100%;
    min-height: 20.6rem;
    padding-top: 2rem;

    @media screen and (min-width: $screen-t) {
      min-height: 29rem;
    }

    @media screen and (min-width: $screen-1060) {
      max-width: 43.7rem;
      min-height: auto;
      padding-top: 3rem;
    }

    @media screen and (min-width: $screen-d) {
      max-width: 52rem;
    }
  }

  &__content-item {
    position: absolute;
    transform: translateY(1.5rem);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;

    &--visible {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__title {
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 4rem;

    @media screen and (min-width: $screen-t) {
      font-size: 6.4rem;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 7.2rem;
    }

    &--small {
      font-size: 2.8rem;

      @media screen and (min-width: $screen-t) {
        font-size: 4rem;
      }

      @media screen and (min-width: $screen-d) {
        font-size: 4.8rem;
      }
    }
  }

  &__text {
    margin-top: 2rem;
    color: var(--color-text-secondary);
    font-size: 1.6rem;
    line-height: 1.5;

    @media screen and (min-width: $screen-t) {
      margin-top: 2.8rem;
      font-size: 2rem;
      line-height: 1.4;
    }

    @media screen and (min-width: $screen-d) {
      margin-top: 3.5rem;
      font-size: 2.4rem;
      line-height: 1.3;
    }
  }

  &__slider-wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    margin-bottom: -8rem;

    @media screen and (min-width: $screen-1060) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: $screen-d) {
      margin-top: 17.5rem;
    }

    @media screen and (min-width: $screen-dl) {
      margin-top: 0;
    }
  }

  &__slider {
    width: 27.1rem;
    max-width: 80%;
    height: 27.1rem;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
    border-radius: 0.4rem;

    @media screen and (min-width: $screen-t) {
      width: 16.7rem;
      max-width: 100%;
      height: 16.7rem;
      pointer-events: none;
    }

    @media screen and (min-width: $screen-d) {
      width: 19.6rem;
      height: 19.6rem;
    }

    &:not(:first-child) {
      display: none;

      @media screen and (min-width: $screen-t) {
        display: block;
      }
    }

    &--large {
      margin-left: auto;

      @media screen and (min-width: $screen-1060) {
        width: 54rem;
        height: 54rem;
      }

      @media screen and (min-width: $screen-d) {
        width: 45rem;
        height: 45rem;
      }

      @media screen and (min-width: $screen-dl) {
        width: 62.8rem;
        height: 62.8rem;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }
  }

  &__nav {
    position: absolute;
    right: 0;
    bottom: -5.2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;

    @media screen and (min-width: $screen-t) {
      right: calc(16.7rem + 3.2rem);
      bottom: -7.2rem;
    }

    @media screen and (min-width: $screen-1060) {
      right: calc(54rem + 3.2rem);
      bottom: 2.8rem;
      gap: 4.8rem;
    }

    @media screen and (min-width: $screen-dl) {
      right: calc(62.8rem + 3.2rem);
    }

    .swiper-btn-next,
    .swiper-btn-prev {
      &.disable {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .swiper-btn-next {
      svg {
        stroke: var(--color-navigation-secondary);
      }

      &:hover svg {
        stroke: var(--color-navigation-secondary-hover);
      }
    }
  }

  &__pagination {
    position: absolute;
    bottom: -10rem !important;
    width: 27.1rem !important;
    max-width: 80%;

    @media screen and (min-width: $screen-t) {
      display: none;
    }
  }
}
