extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  section.hero(style='background-color: #B3315E')
    svg.hero__blob.hero__blob--1(width='300', height='150', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(fill='#981140')
        animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M120.355 -116.02C116.469 -123.377 102.642 -128.624 92.3184 -127.718C72.4973 -125.978 53.591 -111.8 50.0707 -100.196C44.6444 -82.3087 43.4735 -46.8892 29.6989 -21.9176C19.0893 -2.68354 2.80495 18.815 1.15594 38.6455C-2.4349 81.8273 25.291 107.287 33.5918 112.16C40.3462 116.125 61.6304 122.765 86.6448 112.419C103.934 105.268 113.833 88.9967 135.755 86.0712C165.796 82.0621 175.502 93.5 200.446 89.9037C222.677 86.6987 232.368 75.3564 242.573 59.8744C251.501 38.6455 248.154 17.7486 242.311 5.39956C231.001 -18.4997 214.501 -34.9999 207.39 -41.5663C192.106 -55.6792 168.952 -60.3032 155.442 -70.8237C136.453 -85.6106 138.473 -88.1019 134.663 -91.3104C130.853 -94.5188 125.213 -106.823 120.355 -116.02Z;M36.0006 4.50014C29.3124 7.14944 10.7904 17.8518 2.50061 39.5001C-2.99966 53.8639 1.38314 73.1981 15 87.9998C26.4995 100.5 51.6125 102.749 62.5 98.8639C73.3875 94.9788 103.834 74.9138 144.866 98.8639C177.691 118.024 186.32 114.719 198 115C209.681 115.281 225 107 232.562 98.8399C246.145 84.1833 244.93 58.7595 239.5 45.4999C234.07 32.2404 219.195 24.0897 216 9.99993C213 -3.23326 218.742 -20.3333 213 -39.5001C207.258 -58.6668 195.526 -65.6092 184.457 -69.4978C173.001 -73.5219 150.228 -66.3158 140.896 -56.866C133.43 -49.3061 111.026 -28.4464 100.757 -18.9616C93.3175 -12.7816 87.6541 -12.9442 77.5006 -9.99988C57.8491 -4.30136 47.0003 0.142965 36.0006 4.50014Z;M120.355 -116.02C116.469 -123.377 102.642 -128.624 92.3184 -127.718C72.4973 -125.978 53.591 -111.8 50.0707 -100.196C44.6444 -82.3087 43.4735 -46.8892 29.6989 -21.9176C19.0893 -2.68354 2.80495 18.815 1.15594 38.6455C-2.4349 81.8273 25.291 107.287 33.5918 112.16C40.3462 116.125 61.6304 122.765 86.6448 112.419C103.934 105.268 113.833 88.9967 135.755 86.0712C165.796 82.0621 175.502 93.5 200.446 89.9037C222.677 86.6987 232.368 75.3564 242.573 59.8744C251.501 38.6455 248.154 17.7486 242.311 5.39956C231.001 -18.4997 214.501 -34.9999 207.39 -41.5663C192.106 -55.6792 168.952 -60.3032 155.442 -70.8237C136.453 -85.6106 138.473 -88.1019 134.663 -91.3104C130.853 -94.5188 125.213 -106.823 120.355 -116.02Z;')
    svg.hero__blob.hero__blob--2(width='310', height='247', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(fill='#DC9138')
        animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M-90 65.9998C-127.911 49.0996 -145.333 13.9998 -150 -0.000244141V396H404C404 396 388 348.5 333 330C291.425 316.016 273 330 235 322C197 314 186.487 296 184.5 287.5C177.253 256.5 198.5 244 210 239C216.333 238 247.574 217.5 235 188C209 127 133 164.758 95 132C66 107 87 84.4998 57.5 65.9998C28 47.4998 -48.5 84.4998 -90 65.9998Z;')
    .hero__container.container
      +nav()
      .hero__wrapper
        .hero__content
          .hero__content-item.hero__content-item--visible
            .hero__title 2 605 детей
            .hero__text за все время работы фонда получили помощь и возможность заниматься спортом
            +button('link', 'Подробнее', 'link', '', '', '#')
          .hero__content-item
            .hero__title Пас в будущее
            .hero__text Наша цель – дать возможность талантливым ребятам, увлеченным спортом, проявить свои способности
          .hero__content-item
            .hero__title.hero__title--small Фонд передал футбольную площадку Центру помощи детям «Ручеёк»
            +button('link', 'Подробнее', 'link', '', '', '#')
        .hero__slider.swiper.js-hero-slider
          .swiper-wrapper
            .hero__image.swiper-slide
              img(src= src.img + 'hero-3.jpg', srcset= src.img + 'hero-3@2x.jpg 2x', alt='')
            .hero__image.swiper-slide
              img(src= src.img + 'hero-2.jpg', srcset= src.img + 'hero-2@2x.jpg 2x', alt='')
            .hero__image.hero__image--active.swiper-slide
              img(src= src.img + 'hero-1.jpg', srcset= src.img + 'hero-1@2x.jpg 2x', alt='')
          .hero__nav
            .swiper-btn-next
              svg
                use(href= src.icon + 'arrow-right')
            .swiper-btn-prev
              svg
                use(href= src.icon + 'arrow-left')
    //+library-item(library.section[2].list[3])
    //svg.library__icon
      use(href= src.icon + 'icon__default')
    //img.library__img(src= src.img + 'img__gulp.jpg', alt='Gulp logo')
