extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  section.hero(style='background-color: #B3315E')
    svg.hero__blob(viewBox='0 0 300 150', width='300', height='150', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(fill='#981140', style='transform: translate(-100px, -309px)')
        animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M400.5,271.5Q339,293,367,362.5Q395,432,334,390.5Q273,349,235.5,414Q198,479,166.5,437Q135,395,129.5,353Q124,311,81,280.5Q38,250,97.5,227.5Q157,205,176,193Q195,181,213,173.5Q231,166,253,152.5Q275,139,304.5,142Q334,145,359,165Q384,185,423,217.5Q462,250,400.5,271.5Z;M425.21222,279.91267Q373.70226,309.82534,386.4543,373.54163Q399.20633,437.25792,336.62896,397.33529Q274.05158,357.41267,251.79955,348.80182Q229.54751,340.19096,182.79955,366.5439Q136.05158,392.89683,113.20045,359.83529Q90.34932,326.77375,86.78371,288.38688Q83.2181,250,65.4267,201.21041Q47.6353,152.42082,96.07964,135.1629Q144.52399,117.90498,188.81358,146.15883Q233.10317,174.41267,258.78371,136.72625Q284.46425,99.03982,326.05746,100.46245Q367.65068,101.88507,360.05158,151.32941Q352.45249,200.77375,414.58733,225.38688Q476.72217,250,425.21222,279.91267Z;M400.5,271.5Q339,293,367,362.5Q395,432,334,390.5Q273,349,235.5,414Q198,479,166.5,437Q135,395,129.5,353Q124,311,81,280.5Q38,250,97.5,227.5Q157,205,176,193Q195,181,213,173.5Q231,166,253,152.5Q275,139,304.5,142Q334,145,359,165Q384,185,423,217.5Q462,250,400.5,271.5Z;')
    .hero__blob-switcher
      svg(viewBox='0 0 310 247', width='310', height='247', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='#B3315E', style='transform: translateX(-245px)')
          animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;M411,280Q354,310,361,382Q368,454,309,413.5Q250,373,190.5,414Q131,455,106.5,401Q82,347,88,298.5Q94,250,78,195.5Q62,141,125,141.5Q188,142,219,140Q250,138,277.5,146.5Q305,155,335,169Q365,183,416.5,216.5Q468,250,411,280Z;M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;')
      svg(viewBox='0 0 310 247', width='310', height='247', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='#DC9138', style='transform: translateX(-245px)')
          animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;M411,280Q354,310,361,382Q368,454,309,413.5Q250,373,190.5,414Q131,455,106.5,401Q82,347,88,298.5Q94,250,78,195.5Q62,141,125,141.5Q188,142,219,140Q250,138,277.5,146.5Q305,155,335,169Q365,183,416.5,216.5Q468,250,411,280Z;M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;')
      svg(viewBox='0 0 310 247', width='310', height='247', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='#067256', style='transform: translateX(-245px)')
          animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;M411,280Q354,310,361,382Q368,454,309,413.5Q250,373,190.5,414Q131,455,106.5,401Q82,347,88,298.5Q94,250,78,195.5Q62,141,125,141.5Q188,142,219,140Q250,138,277.5,146.5Q305,155,335,169Q365,183,416.5,216.5Q468,250,411,280Z;M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;')
    .container.hero__container
      +nav()
      .hero__wrapper
        .hero__content
          .hero__content-item.hero__content-item--visible
            .hero__title 2 605 детей
            .hero__text за все время работы фонда получили помощь и возможность заниматься спортом
            +button('link', 'Подробнее', 'link', '', '', '#')
          .hero__content-item
            .hero__title Пас в будущее
            .hero__text Наша цель – дать возможность талантливым ребятам, увлеченным спортом, проявить свои способности
          .hero__content-item
            .hero__title.hero__title--small Фонд передал футбольную площадку Центру помощи детям «Ручеёк»
            +button('link', 'Подробнее', 'link', '', '', '#')
        .hero__slider-wrapper
          .hero__slider.swiper.js-hero-slider
            .swiper-wrapper
              .hero__image.swiper-slide
                img(src= src.img + 'hero-3.jpg', srcset= src.img + 'hero-3@2x.jpg 2x', alt='')
              .hero__image.swiper-slide
                img(src= src.img + 'hero-1.jpg', srcset= src.img + 'hero-1@2x.jpg 2x', alt='')
              .hero__image.hero__image--active.swiper-slide
                img(src= src.img + 'hero-2.jpg', srcset= src.img + 'hero-2@2x.jpg 2x', alt='')
          .hero__slider.swiper.js-hero-slider
            .swiper-wrapper
              .hero__image.swiper-slide
                img(src= src.img + 'hero-2.jpg', srcset= src.img + 'hero-2@2x.jpg 2x', alt='')
              .hero__image.swiper-slide
                img(src= src.img + 'hero-3.jpg', srcset= src.img + 'hero-3@2x.jpg 2x', alt='')
              .hero__image.hero__image--active.swiper-slide
                img(src= src.img + 'hero-1.jpg', srcset= src.img + 'hero-1@2x.jpg 2x', alt='')
          .hero__slider.hero__slider--large.swiper.js-hero-slider
            .swiper-wrapper
              .hero__image.swiper-slide
                img(src= src.img + 'hero-1.jpg', srcset= src.img + 'hero-1@2x.jpg 2x', alt='')
              .hero__image.swiper-slide
                img(src= src.img + 'hero-2.jpg', srcset= src.img + 'hero-2@2x.jpg 2x', alt='')
              .hero__image.hero__image--active.swiper-slide
                img(src= src.img + 'hero-3.jpg', srcset= src.img + 'hero-3@2x.jpg 2x', alt='')
          .hero__nav
            .swiper-btn-next
              svg
                use(href= src.icon + 'arrow-right')
            .swiper-btn-prev
              svg
                use(href= src.icon + 'arrow-left')
          .hero__pagination

  section.about
    .container
      .about__top
        .about__title Вместе <br> мы можем больше!
        .about__group
          .about__text Благотворительный фонд — это благотворительная организация безвозмездной помощи,
            |  созданная в целях поддержки детско-юношеского спорта, адресной помощи талантливым спортсменам,
            |  помощи детям-сиротами детям, находящимся в сложной жизненной ситуации.
          +button('link-arrow', 'Подробнее о Фонде', 'link-arrow', '', '', '#')(class='about__link', target='_blank')
      .about__bottom
        .about-item.about__item
          .about-item__title.about-item__title--pink Миссия
          .about-item__text Мы помогаем детям развивать спортивные и интеллектуальные способности.
            |  Заботимся о заслуженных ветеранах спорта, укрепляя традиции чемпионов и преемствен-ность поколений
        .about-item.about__item
          .about-item__title.about-item__title--yellow Цель
          .about-item__text Оказание всесторонней помощи детям для раскрытия спортивного и интеллектуального потенциала
        .about-item.about__item
          .about-item__title.about-item__title--green Задача
          .about-item__text Реализация проектов для поддержки детей в сложной жизненной ситуации
            |  и популяризация детско-юношеского спорта
  section.founders(style='background-color: #067256')
    .container
      +title('Основатели Фонда', 'white')
      .founders__wrapper
        .founders__tabs
          .founders__tabs-item.js-founders-tab.active
            .founders__name Иван Иванов
            .founders__position Основатель и почетный президент
            .founders__cursor
              svg(xmlns='http://www.w3.org/2000/svg', width='92', height='100', viewBox='0 0 92 100', fill='none')
                path(d='M91.125 50.1966C91.125 76.7044 73.8762 90.6939 43.1283 98.1933C21.2706 103.524 -3.36891 89.944 0.381208 49.2601C2.65279 24.6164 22.1297 7.26313 48.3779 1.26342C82.7393 -6.59076 91.125 23.6887 91.125 50.1966Z', fill='#4D8765')
          .founders__tabs-item.js-founders-tab
            .founders__name Пётр Петров
            .founders__position Учредитель благотворительного фонда
            .founders__cursor
              svg(xmlns='http://www.w3.org/2000/svg', width='92', height='100', viewBox='0 0 92 100', fill='none')
                path(d='M91.125 50.1966C91.125 76.7044 73.8762 90.6939 43.1283 98.1933C21.2706 103.524 -3.36891 89.944 0.381208 49.2601C2.65279 24.6164 22.1297 7.26313 48.3779 1.26342C82.7393 -6.59076 91.125 23.6887 91.125 50.1966Z', fill='#B3315E')
        .founders__content
          .founders__content-item.active(style='display: block')
            .founders__tabs-item
              .founders__name Иван Иванов
              .founders__position Основатель и почетный президент
            .founders__image
              img(src= src.img + 'founder-1.jpg', srcset= src.img + 'founder-1@2x.jpg 2x', alt='')
            .founders__description «Считаю, что все крупные организации, вовлеченные в спорт, должны осознавать свою
              |  социальную ответственность перед спортивным будущим нашей страны и способствовать воспитанию настоящих чемпионов.»
            .founders__sign
              svg(width='366', height='214', viewBox='0 0 366 214', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M3.1545 85.1668C0.101642 79.4536 42.8246 62.6948 84.0529 62.6948C87.61 62.6948 86.3425 66.4321 82.5265 68.408C75.0169 72.2966 58.522 76.7582 48.9461 80.2153C37.6254 83.7702 16.2441 92.12 18.0368 96.5932C18.3479 97.3695 19.1231 98.8808 26.4319 99.2594C40.166 99.9707 65.9065 97.0152 96.6456 96.5932C128.829 96.1514 176.41 96.3439 219.901 95.8314C275.452 95.1769 324.814 93.8062 332.091 93.1653C345.065 92.0226 346.591 85.8741 339.722 84.405C295.003 74.8404 53.9068 118.847 16.1288 120.208C12.3128 120.345 11.3316 118.303 12.3128 117.161C19.1816 109.162 140.911 48.9831 196.242 30.7008C232.494 18.7228 241.271 7.46707 236.31 2.13474C233.814 -0.547829 190.066 37.2812 145.871 74.883C102.217 112.025 54.2884 149.536 56.5779 156.391C58.6131 162.486 97.7903 115.221 133.66 88.5947C141.398 82.7579 153.885 74.883 165.333 67.2654C179.834 58.8861 186.321 48.2214 188.61 49.364C192.023 51.0673 182.886 64.9801 187.465 67.2654C192.808 69.9315 215.322 59.2669 234.783 49.364C254.245 39.4611 318.353 21.9406 329.038 18.5127C339.722 15.0847 359.947 10.1333 363.763 5.56272C367.579 0.99215 324.459 15.8465 296.602 46.6978C268.745 77.5492 234.402 114.495 229.059 119.827C223.717 125.159 158.083 173.15 154.648 178.102C151.214 183.053 134.042 200.954 137.476 212', stroke='white', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
          .founders__content-item
            .founders__tabs-item
              .founders__name Пётр Петров
              .founders__position Учредитель благотворительного фонда
            .founders__image
              img(src= src.img + 'founder-2.jpg', srcset= src.img + 'founder-2@2x.jpg 2x', alt='')
            .founders__description «Фонд носит имя человека, заложившего принципы социальной ответственности букмекерского
              |  бизнеса, которая всегда выражалась во всесторонней и организованной поддержке отечественного спорта.
              |  Деятельность Фонда направлена на обеспечение преемственности этих принципов и укрепление
              |  спортивного статуса нашей страны.»
            .founders__sign
              svg(width='272', height='139', viewBox='0 0 272 139', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M49.7031 88.4548C49.3332 82.5319 48.0384 71.6266 40.5472 72.352C33.6109 73.0237 35.1486 86.9248 37.7727 90.6759C39.7149 93.4522 53.8649 115.385 78.5581 86.2337C103.251 57.0821 116.136 22.4165 122.118 26.2647C126.002 28.7634 76.061 94.8404 81.0552 101.504C83.1411 104.287 142.095 47.4864 145.424 41.9337C148.753 36.381 164.568 0.444748 117.956 3.49873C71.3444 6.5527 32.6381 50.4562 23.0678 64.023C15.0117 75.4433 -4.9549 114.83 4.47847 128.989C13.9118 143.149 25.6187 138.151 53.31 117.051C81.0013 95.9509 169.285 24.0435 159.297 10.7172C155.967 6.27505 154.58 3.77635 139.32 13.4936C124.06 23.2108 53.3101 96.2285 67.4601 111.776C79.336 124.825 158.464 45.9767 152.36 39.5912C148.102 35.1365 89.5087 79.0278 91.0435 96.2286C92.4308 111.776 120.546 84.0126 134.326 69.298C132.939 66.244 113.517 86.2337 115.459 92.3417C115.459 93.7298 118.789 97.0614 129.609 89.5653C144.858 79.002 153.47 72.352 152.36 67.0769C151.251 61.8019 137.933 78.7376 140.985 85.1232C144.037 91.5088 163.736 68.7428 163.736 67.0769C163.736 65.4111 158.187 69.298 160.961 72.9073C163.736 76.5165 170.95 68.4651 170.95 67.0769C170.95 65.6888 159.197 77.0718 165.401 77.0718C187.597 77.0718 255.572 39.5912 270 1', stroke='#FCFCFC', stroke-width='4')
  section.news
    .container
      +title('Новости Фонда')
        +button('link-arrow', 'Все новости', 'link-arrow', '', '', '#')(target='_blank', class='news__all')
      .news__wrapper
        a.news-item.news-item--large(href='#', target='_blank')
          img(src= src.img + 'news.jpg', srcset= src.img + 'news@2x.jpg 2x', alt='')
          .news-item__content
            .news-item__date 28 августа
            .news-item__title
              span Первая неформальная встреча «Школы наставничества» состоялась в Санкт-Петербурге
        .news__group
          a.news-item(href='#', target='_blank')
            .news-item__content
              .news-item__date 16 августа
              .news-item__title
                span «Лига ветеранов спорта» в Санкт-Петербурге
          a.news-item(href='#', target='_blank')
            .news-item__content
              .news-item__date 7 августа
              .news-item__title
                span Первая неформальная встреча «Школы наставничества» состоялась в Санкт-Петербурге
          a.news-item(href='#', target='_blank')
            .news-item__content
              .news-item__date 24 июля
              .news-item__title
                span Итоги деятельности Фонда в июле 2022 года
          a.news-item(href='#', target='_blank')
            .news-item__content
              .news-item__date 16 августа
              .news-item__title
                span «Лига ветеранов спорта» в Санкт-Петербурге
      +button('link-arrow', 'Все новости', 'link-arrow', '', '', '#')(target='_blank', class='news__all news__all--mobile')
  section.board
    .container
      +title('Попечительский совет <sup>8</sup>')
        .board__nav
          .swiper-btn-prev
            svg
              use(href= src.icon + 'arrow-left')
          .swiper-btn-next
            svg
              use(href= src.icon + 'arrow-right')
      .board__wrapper
        .board__slider.swiper.js-board-slider
          .swiper-wrapper
            .board__slide.swiper-slide
              img(src= src.img + 'board.jpg', srcset= src.img + 'board@2x.jpg 2x', alt='')
            .board__slide.swiper-slide
              img(src= src.img + 'founder-1.jpg', srcset= src.img + 'founder-1@2x.jpg 2x', alt='')
            .board__slide.swiper-slide
              img(src= src.img + 'founder-2.jpg', srcset= src.img + 'founder-2@2x.jpg 2x', alt='')
        .board__content.swiper.js-info-slider
          .swiper-wrapper
            .board__content-item.swiper-slide
              .board__text «Фонд носит имя человека, заложившего принципы социальной ответственности букмекерского
                |  бизнеса, которая всегда выражалась во всесторонней и организованной поддержке отечественного спорта.
                |  Деятельность Фонда направлена на обеспечение преемственности этих принципов и укрепление
                |  спортивного статуса нашей страны.
              .board__info
                .board__info-group
                  .board__author Андрей Андреев
                  .board__position Заслуженный тренер России
                .board__sign
                  svg(width='235', height='268', viewBox='0 0 235 268', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M37.421 111.211C36.1544 112.391 33.5126 114.642 33.0784 114.207C32.5355 113.662 61.577 83.4283 62.6627 83.4283C65.1054 83.4283 82.4761 70.8991 80.3048 63.545C78.9477 58.9485 43.9349 129.187 38.2352 138.176C35.7581 142.082 5.39382 195.919 2.13682 192.651C-1.12018 189.382 54.7916 116.386 61.0342 112.028C67.2768 107.67 72.0863 103.976 71.348 102.494C69.7195 99.226 58.2295 121.924 51.806 132.456C48.2776 139.901 41.4922 155.063 42.5778 156.152C43.9349 157.514 75.9621 113.934 78.9477 106.852C81.9332 99.7707 92.2471 73.0781 87.9044 70.6267C84.3877 68.6416 59.4057 117.475 57.7772 119.654C56.1487 121.833 22.7743 178.391 24.9358 177.125C31.4498 173.312 116.216 74.8565 117.489 65.4516C120.474 43.3892 64.0197 131.366 53.9773 160.783C48.3982 177.125 104.189 101.405 103.104 98.1365C101.747 94.0509 73.5193 121.016 63.7483 149.071C58.3411 164.596 111.645 113.117 110.975 109.304C110.161 104.673 77.3452 134.545 81.6618 145.53C84.3345 152.331 101.475 136.27 112.237 112.845M48.9551 230.522C47.8694 234.052 47.0653 235.686 46.9205 233.507C46.6294 229.125 71.2781 184.097 99.3434 135.18M112.237 112.845C148.43 43.6622 177.907 -1.87939 181 2.26066C182.056 3.67374 137.302 67.3588 112.237 112.845ZM112.237 112.845C107.911 120.295 103.588 127.782 99.3434 135.18M99.3434 135.18C108.468 122.651 127.097 97.4835 128.617 97.0477C130.517 96.5029 93.8756 143.35 101.475 149.071C107.423 153.547 129.297 123.064 139.202 108.367M124.274 122.923C118.477 119.469 149.516 74.4406 152.502 76.6196C155.487 78.7985 147.073 95.4134 144.088 100.861C143.781 101.42 141.954 104.284 139.202 108.367M124.274 122.923C132.96 128.098 155.216 73.0787 168.244 76.6196M124.274 122.923C125.088 123.831 128.345 124.612 134.859 120.472M139.202 108.367C136.669 114.036 133.402 124.373 137.845 127.009C146.108 131.912 198.963 66.4013 214.113 44.4793C225.784 27.5921 236.304 4.91936 232.027 4.16789C221.17 2.26066 160.91 102.077 141.916 140.9C122.986 179.593 85.1103 228.488 66.5971 252.364C56.1487 263.48 55.063 264.49 55.063 265.92C55.063 267.94 83.2149 231.286 98.9149 208.721M109.075 192.494C110.941 186.821 88.7187 180.667 67.8196 196.192C51.1003 208.612 97.223 175.582 122.374 157.515M109.075 192.494C108.35 194.699 104.389 200.854 98.9149 208.721M109.075 192.494C107.187 198.448 102.512 210.029 98.9149 208.721', stroke='black', stroke-width='4')
            .board__content-item.swiper-slide
              .board__text 2
              .board__info
                .board__info-group
                  .board__author Андрей Андреев 2
                  .board__position Заслуженный тренер России 2
                .board__sign
                  svg(width='235', height='268', viewBox='0 0 235 268', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M37.421 111.211C36.1544 112.391 33.5126 114.642 33.0784 114.207C32.5355 113.662 61.577 83.4283 62.6627 83.4283C65.1054 83.4283 82.4761 70.8991 80.3048 63.545C78.9477 58.9485 43.9349 129.187 38.2352 138.176C35.7581 142.082 5.39382 195.919 2.13682 192.651C-1.12018 189.382 54.7916 116.386 61.0342 112.028C67.2768 107.67 72.0863 103.976 71.348 102.494C69.7195 99.226 58.2295 121.924 51.806 132.456C48.2776 139.901 41.4922 155.063 42.5778 156.152C43.9349 157.514 75.9621 113.934 78.9477 106.852C81.9332 99.7707 92.2471 73.0781 87.9044 70.6267C84.3877 68.6416 59.4057 117.475 57.7772 119.654C56.1487 121.833 22.7743 178.391 24.9358 177.125C31.4498 173.312 116.216 74.8565 117.489 65.4516C120.474 43.3892 64.0197 131.366 53.9773 160.783C48.3982 177.125 104.189 101.405 103.104 98.1365C101.747 94.0509 73.5193 121.016 63.7483 149.071C58.3411 164.596 111.645 113.117 110.975 109.304C110.161 104.673 77.3452 134.545 81.6618 145.53C84.3345 152.331 101.475 136.27 112.237 112.845M48.9551 230.522C47.8694 234.052 47.0653 235.686 46.9205 233.507C46.6294 229.125 71.2781 184.097 99.3434 135.18M112.237 112.845C148.43 43.6622 177.907 -1.87939 181 2.26066C182.056 3.67374 137.302 67.3588 112.237 112.845ZM112.237 112.845C107.911 120.295 103.588 127.782 99.3434 135.18M99.3434 135.18C108.468 122.651 127.097 97.4835 128.617 97.0477C130.517 96.5029 93.8756 143.35 101.475 149.071C107.423 153.547 129.297 123.064 139.202 108.367M124.274 122.923C118.477 119.469 149.516 74.4406 152.502 76.6196C155.487 78.7985 147.073 95.4134 144.088 100.861C143.781 101.42 141.954 104.284 139.202 108.367M124.274 122.923C132.96 128.098 155.216 73.0787 168.244 76.6196M124.274 122.923C125.088 123.831 128.345 124.612 134.859 120.472M139.202 108.367C136.669 114.036 133.402 124.373 137.845 127.009C146.108 131.912 198.963 66.4013 214.113 44.4793C225.784 27.5921 236.304 4.91936 232.027 4.16789C221.17 2.26066 160.91 102.077 141.916 140.9C122.986 179.593 85.1103 228.488 66.5971 252.364C56.1487 263.48 55.063 264.49 55.063 265.92C55.063 267.94 83.2149 231.286 98.9149 208.721M109.075 192.494C110.941 186.821 88.7187 180.667 67.8196 196.192C51.1003 208.612 97.223 175.582 122.374 157.515M109.075 192.494C108.35 194.699 104.389 200.854 98.9149 208.721M109.075 192.494C107.187 198.448 102.512 210.029 98.9149 208.721', stroke='black', stroke-width='4')
            .board__content-item.swiper-slide
              .board__text 3
              .board__info
                .board__info-group
                  .board__author Андрей Андреев 3
                  .board__position Заслуженный тренер России 3
                .board__sign
                  svg(width='235', height='268', viewBox='0 0 235 268', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M37.421 111.211C36.1544 112.391 33.5126 114.642 33.0784 114.207C32.5355 113.662 61.577 83.4283 62.6627 83.4283C65.1054 83.4283 82.4761 70.8991 80.3048 63.545C78.9477 58.9485 43.9349 129.187 38.2352 138.176C35.7581 142.082 5.39382 195.919 2.13682 192.651C-1.12018 189.382 54.7916 116.386 61.0342 112.028C67.2768 107.67 72.0863 103.976 71.348 102.494C69.7195 99.226 58.2295 121.924 51.806 132.456C48.2776 139.901 41.4922 155.063 42.5778 156.152C43.9349 157.514 75.9621 113.934 78.9477 106.852C81.9332 99.7707 92.2471 73.0781 87.9044 70.6267C84.3877 68.6416 59.4057 117.475 57.7772 119.654C56.1487 121.833 22.7743 178.391 24.9358 177.125C31.4498 173.312 116.216 74.8565 117.489 65.4516C120.474 43.3892 64.0197 131.366 53.9773 160.783C48.3982 177.125 104.189 101.405 103.104 98.1365C101.747 94.0509 73.5193 121.016 63.7483 149.071C58.3411 164.596 111.645 113.117 110.975 109.304C110.161 104.673 77.3452 134.545 81.6618 145.53C84.3345 152.331 101.475 136.27 112.237 112.845M48.9551 230.522C47.8694 234.052 47.0653 235.686 46.9205 233.507C46.6294 229.125 71.2781 184.097 99.3434 135.18M112.237 112.845C148.43 43.6622 177.907 -1.87939 181 2.26066C182.056 3.67374 137.302 67.3588 112.237 112.845ZM112.237 112.845C107.911 120.295 103.588 127.782 99.3434 135.18M99.3434 135.18C108.468 122.651 127.097 97.4835 128.617 97.0477C130.517 96.5029 93.8756 143.35 101.475 149.071C107.423 153.547 129.297 123.064 139.202 108.367M124.274 122.923C118.477 119.469 149.516 74.4406 152.502 76.6196C155.487 78.7985 147.073 95.4134 144.088 100.861C143.781 101.42 141.954 104.284 139.202 108.367M124.274 122.923C132.96 128.098 155.216 73.0787 168.244 76.6196M124.274 122.923C125.088 123.831 128.345 124.612 134.859 120.472M139.202 108.367C136.669 114.036 133.402 124.373 137.845 127.009C146.108 131.912 198.963 66.4013 214.113 44.4793C225.784 27.5921 236.304 4.91936 232.027 4.16789C221.17 2.26066 160.91 102.077 141.916 140.9C122.986 179.593 85.1103 228.488 66.5971 252.364C56.1487 263.48 55.063 264.49 55.063 265.92C55.063 267.94 83.2149 231.286 98.9149 208.721M109.075 192.494C110.941 186.821 88.7187 180.667 67.8196 196.192C51.1003 208.612 97.223 175.582 122.374 157.515M109.075 192.494C108.35 194.699 104.389 200.854 98.9149 208.721M109.075 192.494C107.187 198.448 102.512 210.029 98.9149 208.721', stroke='black', stroke-width='4')
      .board__mobile-slider.js-mobile-board-slider
        .swiper-wrapper
          .board__mobile-slide.swiper-slide
            .board__images
              img(src= src.img + 'board.jpg', srcset= src.img + 'board@2x.jpg 2x', alt='')
              .board__sign
                svg(width='235', height='268', viewBox='0 0 235 268', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M37.421 111.211C36.1544 112.391 33.5126 114.642 33.0784 114.207C32.5355 113.662 61.577 83.4283 62.6627 83.4283C65.1054 83.4283 82.4761 70.8991 80.3048 63.545C78.9477 58.9485 43.9349 129.187 38.2352 138.176C35.7581 142.082 5.39382 195.919 2.13682 192.651C-1.12018 189.382 54.7916 116.386 61.0342 112.028C67.2768 107.67 72.0863 103.976 71.348 102.494C69.7195 99.226 58.2295 121.924 51.806 132.456C48.2776 139.901 41.4922 155.063 42.5778 156.152C43.9349 157.514 75.9621 113.934 78.9477 106.852C81.9332 99.7707 92.2471 73.0781 87.9044 70.6267C84.3877 68.6416 59.4057 117.475 57.7772 119.654C56.1487 121.833 22.7743 178.391 24.9358 177.125C31.4498 173.312 116.216 74.8565 117.489 65.4516C120.474 43.3892 64.0197 131.366 53.9773 160.783C48.3982 177.125 104.189 101.405 103.104 98.1365C101.747 94.0509 73.5193 121.016 63.7483 149.071C58.3411 164.596 111.645 113.117 110.975 109.304C110.161 104.673 77.3452 134.545 81.6618 145.53C84.3345 152.331 101.475 136.27 112.237 112.845M48.9551 230.522C47.8694 234.052 47.0653 235.686 46.9205 233.507C46.6294 229.125 71.2781 184.097 99.3434 135.18M112.237 112.845C148.43 43.6622 177.907 -1.87939 181 2.26066C182.056 3.67374 137.302 67.3588 112.237 112.845ZM112.237 112.845C107.911 120.295 103.588 127.782 99.3434 135.18M99.3434 135.18C108.468 122.651 127.097 97.4835 128.617 97.0477C130.517 96.5029 93.8756 143.35 101.475 149.071C107.423 153.547 129.297 123.064 139.202 108.367M124.274 122.923C118.477 119.469 149.516 74.4406 152.502 76.6196C155.487 78.7985 147.073 95.4134 144.088 100.861C143.781 101.42 141.954 104.284 139.202 108.367M124.274 122.923C132.96 128.098 155.216 73.0787 168.244 76.6196M124.274 122.923C125.088 123.831 128.345 124.612 134.859 120.472M139.202 108.367C136.669 114.036 133.402 124.373 137.845 127.009C146.108 131.912 198.963 66.4013 214.113 44.4793C225.784 27.5921 236.304 4.91936 232.027 4.16789C221.17 2.26066 160.91 102.077 141.916 140.9C122.986 179.593 85.1103 228.488 66.5971 252.364C56.1487 263.48 55.063 264.49 55.063 265.92C55.063 267.94 83.2149 231.286 98.9149 208.721M109.075 192.494C110.941 186.821 88.7187 180.667 67.8196 196.192C51.1003 208.612 97.223 175.582 122.374 157.515M109.075 192.494C108.35 194.699 104.389 200.854 98.9149 208.721M109.075 192.494C107.187 198.448 102.512 210.029 98.9149 208.721', stroke='black', stroke-width='4')
            .board__text «Фонд носит имя человека, заложившего принципы социальной ответственности букмекерского
              |  бизнеса, которая всегда выражалась во всесторонней и организованной поддержке отечественного спорта.
              |  Деятельность Фонда направлена на обеспечение преемственности этих принципов и укрепление
              |  спортивного статуса нашей страны.
            a.board__more(href='#') Показать полностью
            .board__info-group
              .board__author Андрей Андреев
              .board__position Заслуженный тренер России
          .board__mobile-slide.swiper-slide
            .board__images
              img(src= src.img + 'board.jpg', srcset= src.img + 'board@2x.jpg 2x', alt='')
              .board__sign
                svg(width='235', height='268', viewBox='0 0 235 268', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M37.421 111.211C36.1544 112.391 33.5126 114.642 33.0784 114.207C32.5355 113.662 61.577 83.4283 62.6627 83.4283C65.1054 83.4283 82.4761 70.8991 80.3048 63.545C78.9477 58.9485 43.9349 129.187 38.2352 138.176C35.7581 142.082 5.39382 195.919 2.13682 192.651C-1.12018 189.382 54.7916 116.386 61.0342 112.028C67.2768 107.67 72.0863 103.976 71.348 102.494C69.7195 99.226 58.2295 121.924 51.806 132.456C48.2776 139.901 41.4922 155.063 42.5778 156.152C43.9349 157.514 75.9621 113.934 78.9477 106.852C81.9332 99.7707 92.2471 73.0781 87.9044 70.6267C84.3877 68.6416 59.4057 117.475 57.7772 119.654C56.1487 121.833 22.7743 178.391 24.9358 177.125C31.4498 173.312 116.216 74.8565 117.489 65.4516C120.474 43.3892 64.0197 131.366 53.9773 160.783C48.3982 177.125 104.189 101.405 103.104 98.1365C101.747 94.0509 73.5193 121.016 63.7483 149.071C58.3411 164.596 111.645 113.117 110.975 109.304C110.161 104.673 77.3452 134.545 81.6618 145.53C84.3345 152.331 101.475 136.27 112.237 112.845M48.9551 230.522C47.8694 234.052 47.0653 235.686 46.9205 233.507C46.6294 229.125 71.2781 184.097 99.3434 135.18M112.237 112.845C148.43 43.6622 177.907 -1.87939 181 2.26066C182.056 3.67374 137.302 67.3588 112.237 112.845ZM112.237 112.845C107.911 120.295 103.588 127.782 99.3434 135.18M99.3434 135.18C108.468 122.651 127.097 97.4835 128.617 97.0477C130.517 96.5029 93.8756 143.35 101.475 149.071C107.423 153.547 129.297 123.064 139.202 108.367M124.274 122.923C118.477 119.469 149.516 74.4406 152.502 76.6196C155.487 78.7985 147.073 95.4134 144.088 100.861C143.781 101.42 141.954 104.284 139.202 108.367M124.274 122.923C132.96 128.098 155.216 73.0787 168.244 76.6196M124.274 122.923C125.088 123.831 128.345 124.612 134.859 120.472M139.202 108.367C136.669 114.036 133.402 124.373 137.845 127.009C146.108 131.912 198.963 66.4013 214.113 44.4793C225.784 27.5921 236.304 4.91936 232.027 4.16789C221.17 2.26066 160.91 102.077 141.916 140.9C122.986 179.593 85.1103 228.488 66.5971 252.364C56.1487 263.48 55.063 264.49 55.063 265.92C55.063 267.94 83.2149 231.286 98.9149 208.721M109.075 192.494C110.941 186.821 88.7187 180.667 67.8196 196.192C51.1003 208.612 97.223 175.582 122.374 157.515M109.075 192.494C108.35 194.699 104.389 200.854 98.9149 208.721M109.075 192.494C107.187 198.448 102.512 210.029 98.9149 208.721', stroke='black', stroke-width='4')
            .board__text «Фонд носит имя человека, заложившего принципы социальной ответственности букмекерского
              |  бизнеса, которая всегда выражалась во всесторонней и организованной поддержке отечественного спорта.
              |  Деятельность Фонда направлена на обеспечение преемственности этих принципов и укрепление
              |  спортивного статуса нашей страны.
            a.board__more(href='#') Показать полностью
            .board__info-group
              .board__author Андрей Андреев
              .board__position Заслуженный тренер России
          .board__mobile-slide.swiper-slide
            .board__images
              img(src= src.img + 'board.jpg', srcset= src.img + 'board@2x.jpg 2x', alt='')
              .board__sign
                svg(width='235', height='268', viewBox='0 0 235 268', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M37.421 111.211C36.1544 112.391 33.5126 114.642 33.0784 114.207C32.5355 113.662 61.577 83.4283 62.6627 83.4283C65.1054 83.4283 82.4761 70.8991 80.3048 63.545C78.9477 58.9485 43.9349 129.187 38.2352 138.176C35.7581 142.082 5.39382 195.919 2.13682 192.651C-1.12018 189.382 54.7916 116.386 61.0342 112.028C67.2768 107.67 72.0863 103.976 71.348 102.494C69.7195 99.226 58.2295 121.924 51.806 132.456C48.2776 139.901 41.4922 155.063 42.5778 156.152C43.9349 157.514 75.9621 113.934 78.9477 106.852C81.9332 99.7707 92.2471 73.0781 87.9044 70.6267C84.3877 68.6416 59.4057 117.475 57.7772 119.654C56.1487 121.833 22.7743 178.391 24.9358 177.125C31.4498 173.312 116.216 74.8565 117.489 65.4516C120.474 43.3892 64.0197 131.366 53.9773 160.783C48.3982 177.125 104.189 101.405 103.104 98.1365C101.747 94.0509 73.5193 121.016 63.7483 149.071C58.3411 164.596 111.645 113.117 110.975 109.304C110.161 104.673 77.3452 134.545 81.6618 145.53C84.3345 152.331 101.475 136.27 112.237 112.845M48.9551 230.522C47.8694 234.052 47.0653 235.686 46.9205 233.507C46.6294 229.125 71.2781 184.097 99.3434 135.18M112.237 112.845C148.43 43.6622 177.907 -1.87939 181 2.26066C182.056 3.67374 137.302 67.3588 112.237 112.845ZM112.237 112.845C107.911 120.295 103.588 127.782 99.3434 135.18M99.3434 135.18C108.468 122.651 127.097 97.4835 128.617 97.0477C130.517 96.5029 93.8756 143.35 101.475 149.071C107.423 153.547 129.297 123.064 139.202 108.367M124.274 122.923C118.477 119.469 149.516 74.4406 152.502 76.6196C155.487 78.7985 147.073 95.4134 144.088 100.861C143.781 101.42 141.954 104.284 139.202 108.367M124.274 122.923C132.96 128.098 155.216 73.0787 168.244 76.6196M124.274 122.923C125.088 123.831 128.345 124.612 134.859 120.472M139.202 108.367C136.669 114.036 133.402 124.373 137.845 127.009C146.108 131.912 198.963 66.4013 214.113 44.4793C225.784 27.5921 236.304 4.91936 232.027 4.16789C221.17 2.26066 160.91 102.077 141.916 140.9C122.986 179.593 85.1103 228.488 66.5971 252.364C56.1487 263.48 55.063 264.49 55.063 265.92C55.063 267.94 83.2149 231.286 98.9149 208.721M109.075 192.494C110.941 186.821 88.7187 180.667 67.8196 196.192C51.1003 208.612 97.223 175.582 122.374 157.515M109.075 192.494C108.35 194.699 104.389 200.854 98.9149 208.721M109.075 192.494C107.187 198.448 102.512 210.029 98.9149 208.721', stroke='black', stroke-width='4')
            .board__text «Фонд носит имя человека, заложившего принципы социальной ответственности букмекерского
              |  бизнеса, которая всегда выражалась во всесторонней и организованной поддержке отечественного спорта.
              |  Деятельность Фонда направлена на обеспечение преемственности этих принципов и укрепление
              |  спортивного статуса нашей страны.
            a.board__more(href='#') Показать полностью
            .board__info-group
              .board__author Андрей Андреев
              .board__position Заслуженный тренер России

block scripts
  script(src= src.js + 'libs/gsap.min.js')
