extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  section.hero(style='background-color: #B3315E')
    svg.hero__blob(viewBox='0 0 300 150', width='300', height='150', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(fill='#981140', style='transform: translate(-100px, -309px)')
        animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M400.5,271.5Q339,293,367,362.5Q395,432,334,390.5Q273,349,235.5,414Q198,479,166.5,437Q135,395,129.5,353Q124,311,81,280.5Q38,250,97.5,227.5Q157,205,176,193Q195,181,213,173.5Q231,166,253,152.5Q275,139,304.5,142Q334,145,359,165Q384,185,423,217.5Q462,250,400.5,271.5Z;M425.21222,279.91267Q373.70226,309.82534,386.4543,373.54163Q399.20633,437.25792,336.62896,397.33529Q274.05158,357.41267,251.79955,348.80182Q229.54751,340.19096,182.79955,366.5439Q136.05158,392.89683,113.20045,359.83529Q90.34932,326.77375,86.78371,288.38688Q83.2181,250,65.4267,201.21041Q47.6353,152.42082,96.07964,135.1629Q144.52399,117.90498,188.81358,146.15883Q233.10317,174.41267,258.78371,136.72625Q284.46425,99.03982,326.05746,100.46245Q367.65068,101.88507,360.05158,151.32941Q352.45249,200.77375,414.58733,225.38688Q476.72217,250,425.21222,279.91267Z;M400.5,271.5Q339,293,367,362.5Q395,432,334,390.5Q273,349,235.5,414Q198,479,166.5,437Q135,395,129.5,353Q124,311,81,280.5Q38,250,97.5,227.5Q157,205,176,193Q195,181,213,173.5Q231,166,253,152.5Q275,139,304.5,142Q334,145,359,165Q384,185,423,217.5Q462,250,400.5,271.5Z;')
    .hero__blob-switcher
      svg(viewBox='0 0 310 247', width='310', height='247', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='#B3315E', style='transform: translateX(-245px)')
          animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;M411,280Q354,310,361,382Q368,454,309,413.5Q250,373,190.5,414Q131,455,106.5,401Q82,347,88,298.5Q94,250,78,195.5Q62,141,125,141.5Q188,142,219,140Q250,138,277.5,146.5Q305,155,335,169Q365,183,416.5,216.5Q468,250,411,280Z;M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;')
      svg(viewBox='0 0 310 247', width='310', height='247', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='#DC9138', style='transform: translateX(-245px)')
          animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;M411,280Q354,310,361,382Q368,454,309,413.5Q250,373,190.5,414Q131,455,106.5,401Q82,347,88,298.5Q94,250,78,195.5Q62,141,125,141.5Q188,142,219,140Q250,138,277.5,146.5Q305,155,335,169Q365,183,416.5,216.5Q468,250,411,280Z;M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;')
      svg(viewBox='0 0 310 247', width='310', height='247', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='#067256', style='transform: translateX(-245px)')
          animate(attributeName='d', dur='10s', repeatCount='indefinite', values='M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;M411,280Q354,310,361,382Q368,454,309,413.5Q250,373,190.5,414Q131,455,106.5,401Q82,347,88,298.5Q94,250,78,195.5Q62,141,125,141.5Q188,142,219,140Q250,138,277.5,146.5Q305,155,335,169Q365,183,416.5,216.5Q468,250,411,280Z;M435,288.5Q383,327,344,336.5Q305,346,277.5,361Q250,376,222.5,360Q195,344,114.5,359.5Q34,375,89.5,312.5Q145,250,116,203Q87,156,115.5,111Q144,66,197,67.5Q250,69,305.5,63Q361,57,359,122.5Q357,188,422,219Q487,250,435,288.5Z;')
    .hero__container.container
      +nav()
      .hero__wrapper
        .hero__content
          .hero__content-item.hero__content-item--visible
            .hero__title 2 605 детей
            .hero__text за все время работы фонда получили помощь и возможность заниматься спортом
            +button('link', 'Подробнее', 'link', '', '', '#')
          .hero__content-item
            .hero__title Пас в будущее
            .hero__text Наша цель – дать возможность талантливым ребятам, увлеченным спортом, проявить свои способности
          .hero__content-item
            .hero__title.hero__title--small Фонд передал футбольную площадку Центру помощи детям «Ручеёк»
            +button('link', 'Подробнее', 'link', '', '', '#')
        .hero__slider-wrapper
          .hero__slider.swiper.js-hero-slider
            .swiper-wrapper
              .hero__image.swiper-slide
                img(src= src.img + 'hero-3.jpg', srcset= src.img + 'hero-3@2x.jpg 2x', alt='')
              .hero__image.swiper-slide
                img(src= src.img + 'hero-1.jpg', srcset= src.img + 'hero-1@2x.jpg 2x', alt='')
              .hero__image.hero__image--active.swiper-slide
                img(src= src.img + 'hero-2.jpg', srcset= src.img + 'hero-2@2x.jpg 2x', alt='')
          .hero__slider.swiper.js-hero-slider
            .swiper-wrapper
              .hero__image.swiper-slide
                img(src= src.img + 'hero-2.jpg', srcset= src.img + 'hero-2@2x.jpg 2x', alt='')
              .hero__image.swiper-slide
                img(src= src.img + 'hero-3.jpg', srcset= src.img + 'hero-3@2x.jpg 2x', alt='')
              .hero__image.hero__image--active.swiper-slide
                img(src= src.img + 'hero-1.jpg', srcset= src.img + 'hero-1@2x.jpg 2x', alt='')
          .hero__slider.hero__slider--large.swiper.js-hero-slider
            .swiper-wrapper
              .hero__image.swiper-slide
                img(src= src.img + 'hero-1.jpg', srcset= src.img + 'hero-1@2x.jpg 2x', alt='')
              .hero__image.swiper-slide
                img(src= src.img + 'hero-2.jpg', srcset= src.img + 'hero-2@2x.jpg 2x', alt='')
              .hero__image.hero__image--active.swiper-slide
                img(src= src.img + 'hero-3.jpg', srcset= src.img + 'hero-3@2x.jpg 2x', alt='')
          .hero__nav
            .swiper-btn-next
              svg
                use(href= src.icon + 'arrow-right')
            .swiper-btn-prev
              svg
                use(href= src.icon + 'arrow-left')
          .hero__pagination

block scripts
  script(src= src.js + 'libs/gsap.min.js')
