@keyframes pulse1 {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes move-bg-text {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 3000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
