//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header--' + modsList[i].trim();
      }
    }

  header.header(class= allMods)&attributes(attributes)
    +menu()
    .container.header__container
      .header__logo
        svg
          use(href= src.icon + 'star')
        span Благотворительный фонд
      .header__group
        +socials()
        +help(class='header__help')
        button.header__burger
          svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M26 23H6', stroke='black', stroke-width='2', stroke-linecap='square', stroke-linejoin='round')
            path(d='M26 16H6', stroke='black', stroke-width='2', stroke-linecap='square', stroke-linejoin='round')
            path(d='M26 9H6', stroke='black', stroke-width='2', stroke-linecap='square', stroke-linejoin='round')
