@import "../../scss/breakpoints";
@import "../../scss/mixins/fluid";

.header {
  $block-name: &; // #{$block-name}__element

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 1.8rem 0;
  background-color: var(--color-background-primary);
  transition: 0.5s ease;

  @media screen and (min-width: $screen-t) {
    padding: 2rem 0 2.5rem;
  }

  &.hide {
    transform: translateY(-100%);
  }

  &__container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    @media screen and (min-width: $screen-t) {
      gap: 2rem;
    }

    svg {
      width: 4.4rem;
      height: 4.4rem;

      @media screen and (min-width: $screen-t) {
        width: 7.5rem;
        height: 7.5rem;
      }
    }

    span {
      max-width: 16.5rem;
      font-size: 1.6rem;
      font-family: var(--font-noto);

      @media screen and (min-width: $screen-t) {
        max-width: 24.5rem;
        font-size: 2.4rem;
      }
    }
  }

  &__group {
    display: flex;
    align-items: center;

    @media screen and (min-width: $screen-t) {
      display: block;
    }
  }

  &__help {
    @media screen and (min-width: $screen-t) {
      display: none;
    }

    svg {
      fill: #d91869 !important;

      path {
        animation: none !important;
      }
    }

    span {
      display: none;
    }
  }

  &__burger {
    border: 0;

    @media screen and (min-width: $screen-t) {
      display: none;
    }

    svg path {
      transition: 0.3s ease;
    }

    &.opened {
      svg path {
        &:first-child {
          transform: translateY(-0.3rem);
        }

        &:last-child {
          transform: translateY(0.3rem);
        }
      }
    }
  }
}
